{% block content %}

<h1>{{tittle}}</h1>

    <from method="post" action="">
        {% csrf_token %}

        <label for="password">Contraseña:</label>
        <input tyoe="text" name="password">

        <label for="newpassword">Contraseña nueva:</label>
        <input type="password" name="newpassword">

        <label for="comfirmpassword">Comfirmar contraseña:</label>
        <input type="password" name="comfirmpassword">

        <input type="submit" value="Registrarse">

    </from>

{% end bock %}