<!DOCTYPE html>
<html lang="en">
<head>
    <h5>Desbloquear</h5>
</head>

<body>

    <h2>Desbloquear usuario</h2>

    <form action="/buscar" method="post">
    <input type="text" name="username" placeholder="Buscar por username">
    <button type="submit">Buscar</button>
    <div id="userDetails"></div>

    <div class="content" id="contenedorbotones2">

        <button type="submit">Desbloquear usuario</button> <img src="bolaroja.gif">
        <button type="submit">Bloquear usuario</button> <img src="bolaverde.gif">
    </div>

</body>
</html>