<!DOCTYPE html>
<html lang="en">
<head>
    <h5>Desbloquear</h5>
</head>

<body>

    <h2>Desbloquear usuario</h2>


    <input type="text" name="username" placeholder="Buscar por username">
    <button type="submit">Buscar</button>


    <form action="{% url 'bloquear_usuario' %}" method="get">
        <button type="submit">bloquear usuario</button>
    </form>
    <form action="{% url 'desbloquear_usuario' %}" method="get">
        <button type="submit">Desbloquear usuario</button>
    </form>

    
    <div id="userDetails">

    </div>



</body>
</html>